.app__error {
   width: 100%;
   height: 100vh;
   background-color: #f3f3f3;
 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .error__content {
   width: 50%;
   height: 80%;
 
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
 
   h1 {
     font-weight: normal;
     font-size: 80px;
     color: #222;
   }
   
   h2 {
     margin-top: -60px;
     font-weight: normal;
     font-size: 80px;
     color: #656565;
   }
 
   p {
     margin-top: -10px;
     margin-bottom: 40px;
   }
 
   a {
     margin-top: -10px;
     text-decoration: none;
 
     &:hover {
       text-decoration: underline;
     }  
   }
 }